


   
body {
  background-color: rgb(238, 239, 240);
}

.title {
  color: rgb(52, 149, 165);
  font-family:  emoji, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  padding-top: 10px;
}
.navigation .navbar-brand {
  color: rgb(47, 199, 223, 0.75);
  margin-left: 20px;
  padding: inherit;
  font-weight: bold;
  background-color: rgb(47, 199, 223, 0.75);
  font-family: emoji, Helvetica, sans-serif;
}
.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 15px; 
  max-height: 40px;
}
.active, .dropdown-menu .dropdown-item:active a:hover {
  background-color: rgb(255,255,255);
}
.dropdown-item {
  color: rgba(47, 199, 223, 0.75);
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(47, 199, 223, 0.75);
}

.nav-link:hover {
  background-color:rgba(47, 199, 223, 0.75);
 }

.navbar-brand:hover {
color: rgb(45, 158, 175);
}
a {
  color: rgb(231, 231, 231);
  font-size: 15px;
}

img{
  width:100%;
  height:100%;
}
.active, .panel:hover {
  border-color:rgb(52, 149, 165);
  border-style: solid;
  
}
.vizualization {
  width:50%;
  height:50%;
}



p {
color: rgb(52, 149, 165);
font-family: emoji , Helvetica, sans-serif;
font-size: 14px;
}

.box {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 10px 10px 10px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.945);

}

/* .table {
  font-size: 18px;
  border-top-color: rgb(201, 10, 10);
} */



@media(max-width: 770px) {
  .navbar-expand-md {
  background-color: #27a096;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  /*.navbar div {
    margin: inherit;
    background-color: rgb(148, 40, 40);
  }*/

  /* @media screen and (min-width: 600px) {
    .navbar{
    background-color:rgb(19, 197, 28);
  }
} */
  .navbar-brand {
    padding: 16px;
    color:#ffffff;
  }
  button{
    margin-right: 30px;
  }
  button:focus {
    outline: 1px dotted;
    outline: auto 5px;
  }
}


footer {
  border-top-style: solid;
  border-top-width: 4px;
  background-color: #06948d;
  border-top-color: rgb(6, 33, 122);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  min-height: 10px;
  font-family: emoji, Helvetica, sans-serif;
  font-size: 12px;
 
  }
